In [2]:
#Bonus - Temperature Analysis 1
import pandas as pd
from datetime import datetime as dt

In [3]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
#check if data types
df.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [5]:
# Convert the date column format from string to datetime
df.date = pd.to_datetime(df.date, infer_datetime_format=True)

In [6]:
# Set the date column as the DataFrame index
df = df.set_index(df['date'])

In [7]:
df.head()

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-02  USC00519397 2010-01-02  0.00    63
2010-01-03  USC00519397 2010-01-03  0.00    74
2010-01-04  USC00519397 2010-01-04  0.00    76
2010-01-06  USC00519397 2010-01-06   NaN    73

Compare June and December data across all years

In [8]:
from scipy import stats

In [9]:
# Filter data for desired months
june_data = df[df['date'].dt.month == 6]
dec_data = df[df['date'].dt.month == 12]

In [10]:
june_data.mean()

C:\Users\miniy\AppData\Local\Temp/ipykernel_17448/1808346478.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  june_data.mean()
C:\Users\miniy\AppData\Local\Temp/ipykernel_17448/1808346478.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  june_data.mean()

prcp     0.136360
tobs    74.944118
dtype: float64

In [12]:
# Identify the average temperature for June
avg_jun_temp = june_data['tobs'].mean()
print(f"Average temperature for June is {avg_jun_temp:.2f}")

Average temperature for June is 74.94

In [13]:
dec_data.mean()

C:\Users\miniy\AppData\Local\Temp/ipykernel_17448/1586511462.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  dec_data.mean()
C:\Users\miniy\AppData\Local\Temp/ipykernel_17448/1586511462.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dec_data.mean()

prcp     0.216819
tobs    71.041529
dtype: float64

In [14]:
# Identify the average temperature for December
avg_dec_temp = dec_data['tobs'].mean()
print(f"Average temperature for December is {avg_dec_temp:.2f}")

Average temperature for December is 71.04

In [15]:
# Create collections of temperature data
june_temp = june_data.tobs
dec_temp = dec_data.tobs

In [16]:
# Run paired t-test
stats.ttest_ind(june_temp,dec_temp)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

In [17]:
#Analysis
Across all the stations, the mean temperatures in June and December temperature in years 2010-2017 differ by 3.9 degrees Fahrenheit.
An unpaired t-test was conducted, and with an extremely low p-value, the difference is deemed statistically significant.